@import '../theme';

.segTitle {
  position: relative;
  padding: 15px 10px 3px 15px;
  font-style: italic;
  color: #999;
  border-top: 1px dashed #ddd;
  //border-bottom: 1px dashed #eee;
  //background: #FAFAFA;

  //&:not(:first-of-type) {
  //  border-top: 1px dashed #eee;
  //}

  &.noTopBorder {
    border-top: none;
  }

  .selectDom {
    margin: 0 10px;
    color: #8d7a34;
    font-style: normal;
  }
}

.select {
  display: flex;
  flex-direction: row;
  height: 200px;
  overflow: hidden;

  .tables {
    width: 200px;
    border-right: 1px solid #EEE;
    padding: 10px;
    background: #F7F7F7;
    overflow: auto;

    .table {
      height: 24px;
      padding: 0 10px;
      margin: 7px 0;
      display: flex;
      align-items: center;
      border-radius: 3px;
      box-sizing: border-box;
    }

    .selected {
      outline: 2px solid #fa6400;
    }
  }


  .fields {
    flex: 1;
    overflow: auto;
    padding: 10px;

    .field {
      height: 30px;
      padding: 0 10px;
      display: flex;
      align-items: center;

      span {
        margin-left: 5px;
        color: #AAA;
        font-style: italic;
      }

      input[type=checkbox] {
        width: 16px;
        height: 16px;
        appearance: none;
        margin-right: 5px;
        //background-color: #DDD;
        //border-radius: 3px;
      }

      input:not(:checked):after {
        border-radius: 3px;
        content: "✓";
        font-size: 12px;
        color: #EEE;
        background-color: #EEE;
        text-align: center;
        padding: 0 2px;
      }

      input:checked:after {
        border-radius: 3px;
        content: "✓";
        font-size: 12px;
        font-weight: bold;
        color: #fff;
        background-color: #fa6400;
        text-align: center;
        padding: 0 2px;
      }
    }
  }
}
