@import "../../theme";

.orderByContainer {
  position: relative;
  padding-bottom: 20px;

  .segTitle {
    position: relative;
    padding: 15px 10px 3px 15px;
    font-style: italic;
    color: #999;
    border-top: 1px dashed #ddd;

    &.noTopBorder {
      border-top: none;
      padding: 0;
      margin-bottom: 10px;
    }
  }

  .addOrder {
    color: rgba(0, 0, 0, .7);
    cursor: pointer;
    font-style: normal;
    margin-left: 10px;
    font-size: 18px;
    vertical-align: baseline;

    &:hover {
      color: #000000;
    }
  }

  .orderList {
    padding: 0 30px;

    .orderItem {
      display: flex;
      align-items: center;
      position: relative;
      line-height: 16px;
      padding: 10px 10px 10px 0;
      margin: 5px 0;

      .index {
        margin-right: 10px;
      }
    }

    .orderSelect,
    .fieldSelect {
      width: 90px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 0 10px;
      color: #8d7a34;
      text-align: center;
    }

    .orderSelect {
      width: 24px;
    }

    .icons {
      margin-left: 10px;
      height: 16px;
      font-size: 12px;

      svg {
        margin-top: 2px;
        max-width: 16px;
      }
    }
  }
}