@import "../theme.less";

.calcModal {
}

.modalContainer {
  height: 424px;
  display: flex;
  padding: 12px 0;

  .leftMenu {
    flex-shrink: 0;
    width: 380px;
    border: 1px solid #D8D8D8;
    background: #F7F7F7;
    height: 100%;

    :global {
      .ant-tabs-top > .ant-tabs-nav {
        margin-bottom: 12px;
      }

      .ant-tabs {
        height: 100%;
      }

      .ant-tabs-content-holder {
        overflow: auto;
        padding: 0 0 12px 12px;
      }

      .ant-tabs-tab {
        cursor: pointer;
        color: #9B9B9B;
        min-width: 80px;
        max-width: 180px;
        text-align: center;
        padding: 0 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 36px;
        border: none;
        border-right: 1px solid #D8D8D8;
        border-radius: 0;
        background: #EBECEE;
        transition: none;
      }

      .ant-tabs-tab.ant-tabs-tab-active {
        cursor: inherit;
        background-color: #F7F7F7;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          background-color: #F7F7F7;
          bottom: -1px;
          height: 1px;
          width: 100%;
          left: 0;
        }
      }

      .ant-tabs-tab .ant-tabs-tab-btn:active,
      .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        color: @color-primary;
        text-shadow: none;
      }

      .ant-tabs-tab.ant-tabs-tab-active {
        overflow: visible;
      }

      .ant-tabs-card > .ant-tabs-nav {
        .ant-tabs-tab {
          border: none;
          border-right: 1px solid #D8D8D8;
        }

        .ant-tabs-tab + .ant-tabs-tab {
          margin-left: 0!important;
        }
      }

      .ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap {
        border-bottom: 1px solid #D8D8D8;
        background: #EBECEE;
        overflow: unset;
      }

      .ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar {
        bottom: -1px;
      }

      .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab {
        border-radius: 0;
      }
    }
  }

  .rightCode {
    margin-left: 16px;
    flex: 1;

    .fieldName {
      margin-bottom: 12px;
    }

    & label {
      display: block;
      margin-bottom: 8px;
    }

    .code {
      height: calc(100% - 160px);
      max-width: 100%;
    }

    .error {
      height: 40px;
      margin-top: 16px;
      font-size: 14px;
      color: red;
    }
  }
}
